<div>
  <button (click)="openDialog()" class="k-button">Open Dialog Via Service</button>
  <div kendoDialogContainer></div>
</div>

<div>
  <button (click)="openWindow()" class="k-button">Open Window Via Service</button>
  <div kendoWindowContainer></div>
</div>

<kendo-dialog title="Please confirm" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">Are you sure you want to continue?</p>
  <kendo-dialog-actions>
      <button kendoButton (click)="action('no')">No</button>
      <button kendoButton (click)="action('yes')" primary="true">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-window [minWidth]="200" [minHeight]="125" title="About" *ngIf="windowOpened" (close)="close('window')">
  <p style="text-align: center;">Additional info</p>
</kendo-window>