<div class="example-wrapper">
  <div class="row">
      <div class="col-xs-12 col-sm-6 example-col">
          <p>ColorGradient</p>
          <kendo-colorgradient [value]="'#7e16c8'"></kendo-colorgradient>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>ColorPalette</p>
          <kendo-colorpalette [tileSize]="30"></kendo-colorpalette>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>ColorPicker</p>
          <kendo-colorpicker [value]="'#7e16c8'"></kendo-colorpicker>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>MaskedTextBox</p>
          <kendo-maskedtextbox
              [(ngModel)]="maskedValue"
              [mask]="'9-000'"
          ></kendo-maskedtextbox>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>NumericTextBox</p>
          <kendo-numerictextbox
              [(ngModel)] = "numericValue"
          ></kendo-numerictextbox>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 example-col">
          <p>Slider (value = {{sliderValue}})</p>
          <kendo-slider
              [min]="min"
              [max]="max"
              [smallStep]="smallStep"
              [(ngModel)] = "sliderValue"
          ></kendo-slider>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>Switch</p>
          <kendo-switch [(ngModel)]="switchValue"></kendo-switch>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>TextBox</p>
          <kendo-textbox-container floatingLabel="First name">
            <input kendoTextBox />
          </kendo-textbox-container>
      </div>
      <div class="col-xs-12 col-sm-6 example-col">
          <p>TextArea</p>
          <kendo-textbox-container floatingLabel="First name">
            <textarea kendoTextArea></textarea>
          </kendo-textbox-container>
      </div>
  </div>
</div>
