<kendo-chart renderAs="canvas" [pannable]="true" [zoomable]="true">
  <kendo-chart-series>
    <kendo-chart-series-item [data]="data" field="value" categoryField="category">
    </kendo-chart-series-item>
  </kendo-chart-series>
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [max]="maxDate" [maxDivisions]="10">
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [labels]="{ format: '#.00' }">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
</kendo-chart>

