.example-wrapper,.example-col {
  vertical-align: top;
}

.pedro {
  background-image: url("https://demos.telerik.com/kendo-ui/content/web/Customers/SPLIR.jpg");
}

.thomas {
  background-image: url("https://demos.telerik.com/kendo-ui/content/web/Customers/RICSU.jpg");
}

.christina {
  background-image: url("https://demos.telerik.com/kendo-ui/content/web/Customers/BERGS.jpg");
}

.paula {
  background-image: url("https://demos.telerik.com/kendo-ui/content/web/Customers/RATTC.jpg");
}
