<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<kendo-scheduler
             [kendoSchedulerBinding]="events"
             [selectedDate]="selectedDate"
             scrollTime="08:00"
             style="height: 600px;">
    <kendo-scheduler-day-view>
    </kendo-scheduler-day-view>

    <kendo-scheduler-week-view>
    </kendo-scheduler-week-view>

    <kendo-scheduler-month-view>
    </kendo-scheduler-month-view>

    <kendo-scheduler-timeline-view>
    </kendo-scheduler-timeline-view>

    <kendo-scheduler-agenda-view>
    </kendo-scheduler-agenda-view>
</kendo-scheduler>
